# 1. DB 비밀번호가 들어있는 설정 파일 완벽 차단
src/main/resources/application.properties

# 2. 구글 API 키 등 모든 종류의 JSON 파일 싹 다 차단! (강력 추천)
*.json

# 3. 기타 불필요한 파일들 (스프링 부트 기본 세팅)
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/